body{
  background-color: aqua;
 }
 h1{
  background-color:brown;
  text-align:center;
  font-style:italic;
 }
 h3{
  color:blue;
  font-weight:300;
  font-style: italic;
 }
 #paragraph_tag{

  color:blueviolet;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .class_selector{

  color:brown;
  font-size: 20px;
 }
 p.class_selector{
  color:chocolate;
  font-size: 30px;
 }

h1,p{
 background-color: chartreuse;
}
*{
  font-style: italic;
}
button{
    margin: 20px 0px 0px 70px;
     padding: 10px 20px 10px 20px;
}